h1 {
    color: rgb(22, 22, 24);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 48px;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px;
}

body {
    background-color: #e0e0db;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#summary,
#education,
#projects,
#skills,
#interests {
    background-color: #c2e5ee;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
    font-size: large;
}

#summary {
    text-align: center;
}

.projectlink {
    text-decoration: none;
    color: #00008B;
}

.projectlink:hover {
    text-decoration: underline;
    color: #FF4500;
}